<h1> Hello</h1>

<p>{{ title }}</p>
<p><strong>{{ number - 2 }}</strong></p>
<p><strong>{{ arr }}</strong></p>
<p><strong>{{ obj }}</strong></p>
<p><strong>{{ obj.a }}</strong></p>

<p><strong>{{ 40 + 5 }}</strong></p>
<p><strong>{{ 'Hello ' + 'World' }}</strong></p>

<hr>

<app-post></app-post>

<hr>

<app-post4></app-post4>

<hr>

<app-binding></app-binding>

<hr>

<app-event-binding></app-event-binding>

<hr>

<app-two-way-binding></app-two-way-binding>

<hr>

<app-ng-style></app-ng-style>

<hr>

<app-ng-class></app-ng-class>

<hr>

<app-ngif-else></app-ngif-else>

<hr>

<app-ng-switch></app-ng-switch>

<hr>

<app-ng-for></app-ng-for>

<hr>

<app-pipes></app-pipes>
